@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-primary {
    @apply text-black;
  }

  .dark .text-primary {
    @apply text-white;
  }

  .text-secondary {
    @apply text-blue-600;
  }

  .dark .text-secondary {
    @apply text-blue-600;

  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --emerald-600: #047857;
  --emerald-500: #059669;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}


/* SLIDERS */
.slider::before {
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 100%;
  white-space: nowrap;
}



/* GLOW ON HOVER EFFECT */
/* Text */
.glow-on-hover {
  border: none;
  outline: none;
  color: #f2f2f2;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.glow-on-hover:before {
  content: '';
  border-radius: 8px;
  background: linear-gradient(45deg, #ff0000, #ff7300, #f2f2f2, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: #d7d7d7; */
  border-radius: 8px;
  /* actual button bachround col0r */
  left: 0;
  top: 0;
}
